@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  overflow-y: auto;
}

a {
  text-decoration: none;
}

body,
body * {
  font-family: 'Roboto', sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

.pointer {
  cursor: pointer;
}
