@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  overflow-y: auto;
}

a {
  text-decoration: none;
}

body,
body * {
  font-family: 'Roboto', sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

.pointer {
  cursor: pointer;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  -ms-overflow-style: none;
}

.invisible {
  visibility: hidden;
}
